@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: "GHK Yangon";
  src: url("https://saosu-mp.github.io/font/GreatHorKhamYangon/GreatHorKhamYangon.woff")
      format("woff"),
    url("https://saosu-mp.github.io/font/GreatHorKhamYangon/GreatHorKhamYangon.woff2")
      format("woff2"),
    url("https://saosu-mp.github.io/font/GreatHorKhamYangon/GreatHorKhamYangon.ttf")
      format("ttf");
}

html,
body {
  background: #fff;
}

[data-theme="dark"] body {
  color: #fff;
  background: #000;
}
[data-theme="dark"] span {
  color: #fff;
}
[data-theme="dark"] textarea {
  color: #fff;
}

[data-theme="dark"] label {
  color: #fff;
}

[data-theme="dark"] a {
  color: #fefefe;
}

label,
textarea,
span,
p {
  font-family: "GHK Yangon";
  color: inherit;
}
body {
  font-family: "GHK Yangon";
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
